.question-show{
    background-color: rgb(235, 185, 185);
    font-size: 70%;
    display : inline-block;
    margin: 1vh;
    padding:1vh
}
.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr; /* Colonne de gauche (questions) est 2 fois plus large que celle de droite (réponses) */
    gap: 10px; /* Espacement entre les éléments de la grille */
    padding: 20px;
}

.grid-title {
    grid-column: 1 / span 2; /* Le titre s'étend sur les deux colonnes */
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ccc;
}